{% include masonry-style.html %}

<div class="masonry-wrapper m-3 mt-5">
    <div class="masonry">

    <!-- Remote Projects -->
    {% for remote_project in page.remote_projects %}
  
      {%- for repo in site.github.public_repositories -%}
  
        {%- if remote_project == repo.name -%}
  
          {%- assign project = repo -%}
          {%- assign words = project.name | split: '-' -%}
          
          {%- capture titlecase -%}
            {%- for word in words -%}
              {{ word | capitalize | append: ' ' }}
            {%- endfor -%}
          {%- endcapture -%}
  
          {%- assign project_type  = "remote" -%}
          {%- assign project_id    = project.name -%}
          {%- assign project_img   = false -%}
          {%- assign project_name  = titlecase | strip -%}
          {%- assign project_desc  = project.description -%}
          {%- assign project_url   = project.html_url -%}
          {%- assign project_tools = project.topics -%}
          {%- assign external      = true -%}
  
          {% include projects/project-card.html %}
  
        {%- endif -%}
  
      {%- endfor -%}
  
    {% endfor %}
  
    <!-- Local Projects -->
    {%- if page.title == 'Game Projects' -%}
        {% assign sorted_projects = site.projects | sort: "order" | reverse %}
    {%- elsif page.title == 'Other Projects' -%}
        {% assign sorted_projects = site.other_projects | sort: "last-modified-date" %}
    {%- endif -%}

    {% for project in sorted_projects %}
  
      {%- assign project_type  = "local" -%}
      {%- assign project_id    = project.name | slugify -%}
      {%- assign project_img   = project.image -%}
      {%- assign project_name  = project.name -%}
      {%- assign project_desc  = project.description -%}
      {%- assign project_tools = project.tools -%}
  
      {%- if project.external_url -%}
        {%- assign project_url = project.external_url -%}
        {%- assign external    = true -%}
      {%- else -%}
        {%- assign project_url = project.url | relative_url -%}
        {%- assign external    = false -%}
      {%- endif -%}
  
      {% include projects/project-card.html %}
  
    {% endfor %}
  </div>
</div>

<div class="masonry-footer">
    <p>Created with &#10084; with <a href="//w3bits.com/tools/masonry-generator/" target="_blank" rel="external noopener nofollow">CSS Masonry Generator</a></p>
</div>

{% include masonry-script.html %}